<h1><center>Select City</h1>
<table class="table table-hover">
  <tr>
    <th>City Name</th>
    <th>Action</th>
  </tr>
  <% @cities.each do |city| %>
    <tr>
	     <td><%= city.name.upcase %></td>
       <td><%= link_to 'Book Now', new_user_city_booking_path(city_id: city.id), class: "btn btn-primary" %></td>
    </tr>
<% end %></table>
